<div ng-controller="CreateItem">
<h1>Add element</h1>
 <form ng-submit="addMessage()">
    <input type="text" ng-model="title">
    <input type="text" ng-model="message">
    <input type="submit">
  </form>

  <p>
    Sort by:
    <select ng-model="orderBy">
      <option>from</option>
      <option>content</option>
      <option>timestamp</option>
    </select>
  </p>

    <p>Search: <input ng-model="searchText"></p>

  <ul class="chatbox">
    <!-- arrays are fully sortable and filterable -->
    <li ng-repeat="(key ,message) in messages | orderBy:orderBy | filter:searchText">
     <a href="#/view/{{message.$id}}">{{key}}</a> 
      <a href="#/view/{{message.$id}}">{{ message.from }}: {{ message.content }}</a> | 
      <!-- delete a message using $remove -->
      <a href="#/update/{{message.$id}}">Edit</a> |
      <!-- <a href="" ng-click="editMessage(message.$id)">id: {{message.$id}}</a> | -->
      <a href="" ng-click="messages.$remove(message)">X</a>
    </li>
  </ul>
</div>