
  <div class="search">
    <h1>Artist Directory</h1>
    <label>search: </label>
    <input ng-model="query" placeholder="Search for artists" autofocus>

    <label class="formgroup">by:
      <select ng-model="artistOrder">
        <option value="name">Name</option>
        <option value="reknown">Reknown</option>
      </select>
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
     </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label> 
  </div>

  <ul class="artistlist">
  <!-- item is a scope var that contains stuff from artists -->
    <li class="artist cf" ng-repeat="item in artists | filter: query | orderBy: artistOrder:direction">
    <!-- indexOf(item) gives me an index number from json file -->
    <a href="#/details/{{artists.indexOf(item)}}">
    <!-- ng-src prevent from loading images until angular library is loaded -->
      <!-- <img ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}"> -->
      <div class="info">
        <h2>{{item.name | uppercase}}</h2>
        <h3>{{item.reknown}}</h3>
      </div>
      </a>
    </li>
  </ul>