@import 'app/sass/colors.scss';
.budget {
    .glyphicon {
        color: $blue-300; 
    }
    .glyphicon:hover {
        color: $blue-500;
    }
    .items {
        padding: 10px;
    }
    .items:hover {
        background: $blue-100;
    }
    .border-btm {
        border-bottom: 1px solid white;
    }
}