.budget-app {
    // Utils 
    @import 'app/sass/colors.scss';
    // Directives
    @import 'app/sass/nav-menu.scss';
    body {
        margin-top: 80px;
        background: $blue-50; 
        color: $blue-900;
        font-weight: 300;     
    }
}