<div class="container create-blog">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Create a blog post</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" data-ng-model="vm.blogTitle" placeholder="Title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Text content</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" data-ng-model="vm.blogContent" placeholder="Blog content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default pull-right" data-ng-click="vm.createBlogPost(vm.blogTitle, vm.blogContent)">Create blog</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container create-blog">
    <div class="row">
        <div class="col-xs-12" ng-repeat="(key, blog) in vm.getAllBlogPosts">
            <h2>{{key+1}}.{{blog.title}}</h2>
            <article>
                <p>{{blog.text}}</p>
            </article>
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="vm.postToBeUpdated = key">Update blog</button>
            <button type="submit" class="btn btn-danger" data-ng-click="vm.getAllBlogPosts.$remove(blog)">Delete blog</button>
            <hr>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update your post</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" data-ng-model="vm.updateTitle" placeholder="Title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Text content</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" data-ng-model="vm.updateContent" placeholder="Blog content"></textarea>
                    </div>
                </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="vm.updateBlog(vm.postToBeUpdated, vm.updateTitle, vm.updateContent)">Save changes</button>
      </div>
    </div>
  </div>
</div>
